<div fxLayoutAlign = "center" class = "title-line-1">Mission Grad Portal</div>
<div class = "card">
    <mat-card>
        <div fxLayoutAlign = "center" class = "title-line-2">Members</div>
        <mat-divider></mat-divider>

        <mat-list>
            List of Members:
            <mat-list-item>
                    <div class="item">
                        <div class="item-flex">
                            <img class = "center" src="assets/imgs/member.png"/>
                            <p>Dawood Zakaria</p>
                        </div>
                    </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>
