<div 
    fxLayoutAlign = "center" 
    class = "title-line-1"
>
    Mission Grad Portal
</div>

<div class = "card">
    <mat-card>
        <div fxLayoutAlign = "center" class = "title-line-2">Boards</div>
        <mat-divider></mat-divider>

        <mat-list>
            Upcoming Board Meetings
            <mat-list-item>
                    <div class="item">
                        <div class="item-flex">
                            <p>Meeting 1</p>
                        </div>
                        <div>
                            <p style="text-align:right;">Date: 07/15/2021</p>
                        </div>
                    </div>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item>
                <div class="item">
                    <div class="item-flex">
                        <p>Meeting 2</p>
                    </div>
                    <div>
                        <p style="text-align:right;">Date: 07/16/2021</p>
                    </div>
                </div>
            <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
            <div class="item">
                <div class="item-flex">
                    <p>Meeting 3</p>
                </div>
                <div>
                    <p style="text-align:right;">Date: 07/17/2021</p>
                </div>
            </div>
        <mat-divider></mat-divider>
    </mat-list-item>
        </mat-list>
    </mat-card>
</div>
