<div fxLayoutAlign = "center" class = "title-line-1">Mission Grad Portal</div>
<div class = "card">
    <mat-card>
        <div fxLayoutAlign = "center" class = "title-line-2">Committees</div>
        <mat-divider></mat-divider>

        <mat-list>
            List of Committees
            <mat-list-item>
                    <div class="item">
                            <div>
                                <p>Committee 1</p>
                            </div>
                    </div>                                          
            </mat-list-item>
            <mat-list-item>
                <div class="item">
                        <div>
                            <p style="font-size: 12px;">more info about committee...</p>
                        </div>
                </div>
                <mat-divider></mat-divider>                                          
        </mat-list-item>
        <mat-list-item>
            <div class="item">
                    <div>
                        <p>Committee 1</p>
                    </div>
            </div>                                          
        </mat-list-item>
        <mat-list-item>
            <div class="item">
                    <div>
                        <p style="font-size: 12px;">more info about committee...</p>
                    </div>
            </div>
        <mat-divider></mat-divider>                                          
            </mat-list-item>
            <mat-list-item>
                <div class="item">
                        <div>
                            <p>Committee 1</p>
                        </div>
                </div>                                          
            </mat-list-item>
            <mat-list-item>
            <div class="item">
                    <div>
                        <p style="font-size: 12px;">more info about committee...</p>
                    </div>
            </div>
            <mat-divider></mat-divider>                                          
            </mat-list-item>
        </mat-list>
    </mat-card>
</div>
